* {
  font-family: "Lato", sans-serif;
}

.aboutTitle {
  position: relative;
}

.img-lang {
  display: inline-block;
}

.aboutTitle span:nth-child(1) {
  content: "";
  position: absolute;
  left: 1rem;
  top: -0.4rem;
  width: 11rem;
  height: 0.1rem;
  background: #fff;
}

.aboutTitle span:nth-child(2) {
  content: "";
  position: absolute;
  right: 1rem;
  bottom: -0.6rem;
  width: 11rem;
  height: 0.1rem;
  background: #fff;
}

img {
  max-width: 100%;
}

.data-skils {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
